---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)
---

<BaseLayout>
	<section class="flex flex-col gap-12 px-6">
		{
			posts.map(post => (
				<article class="grid grid-cols-[auto_70%] h-40    gap-5 px-2 ">
					<div>
						<img
							src={post.data.heroImage}
							class="rounded min-h-full object-cover aspect-auto"
						/>
					</div>
					<div class="flex flex-col justify-between gap-5">
						<div class="flex flex-col gap-1">
							<h1 class="text-2xl text-black font-bold">{post.data.title}</h1>
							<FormattedDate date={post.data.pubDate} />
							<p>{post.data.description}</p>
						</div>

						<a href={`/blog/${post.slug}/`} class="ml-auto">
							Read More ➡️
						</a>
					</div>
				</article>
			))
		}
	</section>
</BaseLayout>
