---
import FormattedDate from './FormattedDate.astro'
import ArrowRight from './icons/ArrowRight.astro'
import { Image } from 'astro:assets'

const {
  data: { title, description, pubDate, heroImage, category },
  readTime,
  slug,
} = Astro.props
---

<article class="grid grid-rows-[40%_auto] rounded-lg shadow dark:bg-[#212529]">
  <a href={`/blog/${slug}/`}
    ><Image
      src={heroImage}
      width={500}
      height={300}
      format="webp"
      class="rounded-2xl rounded-b-none h-full"
      alt={`img of ${title}`}
    />
  </a>

  <div class="flex flex-col justify-between py-6 px-6 gap-4">
    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-2">
        <div class="flex items-center justify-between gap-x-1">
          <FormattedDate date={pubDate} />
          <span class="text-sm font-bold"> {readTime}</span>
        </div>
        <a
          class="text-xl font-semibold hover:underline"
          href={`/blog/${slug}/`}
        >
          {title}
        </a>
      </div>

      <p
        class="md:text-sm overflow-hidden line-clamp-3 text-opacity-70 leading-loose"
      >
        {description}
      </p>
    </div>

    <footer
      class="border-t-2 border-gray-200 pt-5 flex justify-between items-center"
    >
      <a
        href=`/category/${category}`
        class="text-sm bg-[#212529] text-white dark:bg-black rounded-full px-4 py-1 flex justify-center items-center"
        >{category}
      </a>
      <a
        href={`/blog/${slug}/`}
        class="flex justify-center items-center"
        aria-label={`go to ${title}`}
      >
        <ArrowRight />
      </a>
    </footer>
  </div>
</article>
