---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from '../components/FormattedDate.astro'
import BaseLayout from './BaseLayout.astro'
import Tag from '../components/Tag.astro'
import type { MarkdownHeading } from 'astro'
import { cn } from '../libs/cn'
import ListIcon from '../components/icons/ListIcon.astro'
import ShareIcon from '../components/icons/ShareIcon.astro'
import { Image } from 'astro:assets'

type Props = {
	data: CollectionEntry<'blog'>['data']
	headings: MarkdownHeading[]
}

const { data, headings } = Astro.props
const { title, description, pubDate, updatedDate, heroImage, tags } = data

---

<BaseLayout title={title} description={description} image={heroImage}  >
	<article class='md:py-4 max-w-xs md:max-w-none'>
		<div class="hidden md:fixed top-[30%] right-24 rounded-md">
			<ul class="flex flex-col justify-start items-start gap-2 w-full">
				{
					headings.map(({ text, depth, slug }) => (
						<a href={`#${slug}`} class="w-44">
							<li
								class={cn(
									'text-sm text-white px-2 py-1 rounded-md bg-stone-900 hover:bg-white hover:text-black hover:shadow-md w-fit'
								)}>
								{text}
							</li>
						</a>
					))
				}
			</ul>
		</div>

		<header class="mb-3 flex flex-col justify-center items-center gap-6">
			<div class="flex flex-col gap-2">
				<p class="text-center text-sm text-opacity-50">
					Published <FormattedDate date={pubDate} />
				</p>
				<h1 class="text-center text-2xl md:text-5xl font-semibold">
					{title}
				</h1>
			</div>

			<div class="flex flex-wrap gap-2 md:gap-5">
				{tags.map(tag => <Tag>{tag}</Tag>)}
			</div>
		</header>

		{
			heroImage && (
				<Image
					src={heroImage}
      width={1000}
      height={600}
			quality={80}
      format="webp"
      class="rounded-md my-8"
      alt={`img of ${title}`}
				/>
			)
		}

		{
			updatedDate && (
				<div class="last-updated-on">
					Last updated on <FormattedDate date={updatedDate} />
				</div>
			)
		}

		<hr />

		<div class="mt-8 md:px-8">
			<div class="grid grid-cols-4 max-w-6xl prose lg:prose-xl dark:prose-invert">
        <slot />
      </div>
		</div>
	</article>
</BaseLayout>
